rules:
    - Hihaho\PhpstanRules\Rules\NoInvadeInAppCode
    - Hihaho\PhpstanRules\Rules\OnlyAllowFacadeAliasInBlade
    - Hihaho\PhpstanRules\Rules\Debug\NoDebugInNamespaceRule
    - Hihaho\PhpstanRules\Rules\Debug\ChainedNoDebugInNamespaceRule

services:
    -
        class: Hihaho\PhpstanRules\Rules\Debug\StaticChainedNoDebugInNamespaceRule
        tags:
            - phpstan.rules.rule
