parametersSchema:
	scoperequestvalidatemethods: structure([
		allowedRequestMethods: arrayOf(string()),
	])

parameters:
	scoperequestvalidatemethods:
		allowedRequestMethods:
			- collect
			- all
			- only
			- except
			- input
			- get
			- keys
			- string
			- str
			- integer
			- float
			- boolean

services:
    -
        class: Hihaho\PhpstanRules\Rules\Validation\ScopeIlluminateRequestValidateMethods
        arguments:
        	allowedRequestMethods: %scoperequestvalidatemethods.allowedRequestMethods%
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\NoInvadeInAppCode
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\Routing\SlashInUrl
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\NamingClasses\EloquentApiResources
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\NamingClasses\Commands
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\NamingClasses\Mail
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\NamingClasses\Notifications
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\OnlyAllowFacadeAliasInBlade
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\Debug\ChainedNoDebugInNamespaceRule
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\Debug\StaticChainedNoDebugInNamespaceRule
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\Debug\NoDebugInBladeRule
        tags:
            - phpstan.rules.rule
    -
        class: Hihaho\PhpstanRules\Rules\Debug\NoDebugInNamespaceRule
        tags:
            - phpstan.rules.rule
