includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./phpstan-baseline.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:

    paths:
        - src
        - tests

    level: max

    strictRules:
        allRules: false

    excludePaths:
        - tests/*/stubs/*
