includes:
    - ../../vendor/larastan/larastan/extension.neon
    - ../../extension.neon

parameters:
    routeBindingProviders:
        - Hihaho\PhpstanRules\Tests\ReturnTypes\stubs\routing\AppRouteServiceProvider
        - Hihaho\PhpstanRules\Tests\ReturnTypes\stubs\routing\InheritingRouteServiceProvider
